
.container{
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
    min-height: 100vh;
    position: relative;
}

.flex_container_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
}

.flex_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.openHamburger {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    left: -200px;
    gap: 10px;
    animation: hamburger 0.5s ease 0.8ms;
    animation-fill-mode: forwards;
    width: 50%;
    height: 100vh;
    z-index: 4;
    padding-bottom: 10px;
    padding-top: 10px;
}

@keyframes hamburger {
    from {
        left: -200px;
    }
    to {
        left: 0;
        color: rgb(232, 241, 241);
        background-color: rgb(9, 1, 38);
        -webkit-box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.51);
        -moz-box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.51);
        box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.51);
    }
}

.closeHamburger {
    display: none;
    position: absolute;
    top: -175px;
    li{
        &:hover{
            .routerLink{
                color: #512da8;
            }
            .icons_header{
                color: #512da8;
            }
        }
    }
}

.hamburger {
    display: flex;
    padding: 10px;
    z-index: 5;
    justify-content: space-between;
    align-items: center;
}

@media (min-width:768px){
    
    .closeHamburger{
        display: flex;
        position: unset;
        align-items: center;
        justify-content: center;
        gap: 50px;
        list-style: none;
        a{
            text-decoration: none;
            text-transform:uppercase;
        }
    }
    
    .flex_container{
        gap: 30px;
        flex-direction: row;
        font-size: 14px;
    }

    .hamburger {
        display: none;
    }
}

@media(min-width:1024px){
    .closeHamburger{
        gap: 75px;
    }

    .flex_container{
        font-size: 16px;
        gap: 50px;
    }
}
