.blogs_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 160px 20px 60px 20px; 
    background-color: rgb(255, 157, 0);
    gap: 30px;
}

.blogs_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 320px;
    text-align: center;
    h1{
        text-transform: uppercase;
        font-size: 24px;
    }
    p{
        font-size: 18px;
    }
}

@media(min-width:768px){
    .blogs_container{
        align-items: flex-start;
        flex-direction: row;
        padding: 40px;
        gap: 100px;
    }
    
    .blogs_item{
        gap: 30px;
        max-width: 400px;
        h1{
            font-size: 24px;
        }
        p{
            font-size: 20px;
        }
    }
}

@media(min-width:1024px){
    .blogs_container{
        padding: 60px;
        gap: 200px;
    }
    
    .blogs_item{
        max-width: 460px;
        h1{
            font-size: 28px;
        }
        p{
            font-size: 22px;
        }
    }
}