.container_section{
    background-color: rgba(248, 246, 246, 0.964);
    padding: 50px 0;
}

.flex_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1420px;
    margin: 0 auto;
}

.img_container{
    max-width: 500px;
}

.text_container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 10px;
    h1{
        font-size: 26px;
        color: rgb(11, 33, 105);
    }
    p{
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.758);
    }
}