.container_section{
    background-color: rgba(248, 246, 246, 0.964);
    padding: 30px 20px;
}

.flex_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
}

.img_container{
    max-width: 500px;
}

.text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    h1{
        font-size: 26px;
        color: rgb(11, 33, 105);
    }
    p{
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.758);
    }
}

@media(min-width:768px){
    .container_section{
        padding: 50px 20px;
    }
    
    .flex_container{
        justify-content: space-between;
        max-width: 1420px;
        flex-direction: row;
    }

    .img_container{
        max-width: 600px;
    }
    
    .text_container{
        align-items: flex-start;
        max-width: 450px;
        text-align: start;
        h1{
            font-size: 28px;
        }
        p{
            font-size: 18px;
            line-height: 22px;
        }
    }
}

@media(min-width:1024px){
    .container_section{
        padding: 100px 20px;
    }

    .text_container{
        h1{
            font-size: 30px;
        }
        p{
            font-size: 20px;
            line-height: 24px;
        }
    }
}