.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 20px 250px 20px;
    text-align: center;
        h1{
            font-size: 26px;
            color: rgb(11, 33, 105);
            text-transform: uppercase;
        }
}

@media(min-width:768px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 190px;
        padding-top: 50px;
            h1{
                font-size: 36px;
                color: rgb(11, 33, 105);
                text-transform: uppercase;
            }
    }
}